<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepblue.aidevicemanager.mapper.UserMapper">
    <select id="selectBynameAndPass" resultType="com.deepblue.aidevicemanager.entity.OaUser">
      select * from oa_user where phone=#{phone} and password=#{password}
    </select>
</mapper>
